*{
    margin: 0;
}

.header{
    height: 50vh;
    background-color: pink;

    text-align: center;
}


.footer{
    height: 50vh;
    background-color: black;
    color: #e6e5e5;

    text-align: center;
}
h2{
    font-size: 40px;
    padding: 80px;
}
p{
    font-size: 35px;
    padding: 30px;
}