*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    gap: 132px;
    align-items: center;
    justify-content: center;
}

.card{
    width: 319px;
    height: 492px;

    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
}

.center{
    width: 321px;
    height: 491px;

    border: 4px solid #65856E;
    background: rgba(217, 217, 217, 0.30);
}
.logo{
    width: 100px;
    height: 100px;

    background-color: white ;
    stroke-width: 4px;
    border: 4px solid #554C4C;
    border-radius: 50%;

    position: absolute;
    top: -10%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-center{
    width: 100px;
    height: 100px;

    background-color: white ;
    stroke-width: 4px;
    border: 4px solid #65856E;
    border-radius: 50%;

    position: absolute;
    top: -10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card>h4{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.card>p{
    width: 211px;

    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}