*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 22vh;
    background-color: #8D8484;
}
main{
    display: flex;
    height: 56vh;
}
.section{
    width: 66vw;
    background-color: #1272c5;
}
section{
    height: 18.6vh;
}
.content1{
    background-color: #776969;
}
.content2{
    background-color: #643030;
}
.content3{
    background-color: #441818;
}

.aside{
    width: 34vw;
    height: 56vh;

.aside1 {
    padding: 37px;
    height: 28vh;
    background-color: #937575;
}

.aside2{
    padding: 37px;
    height: 28vh;
    background-color: #644C4C;
}

}
footer{
    height: 22vh;
    background-color: #BDBDBD;
}
p{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-size: 45px;
    text-align: center;
    padding: 100px;
}