body{
    margin: 50px;

    font-size: 50px;
}

span{
    color: red;
    display: inline-block;
}
b{

    padding: 15px;
    font-size: 80px;
    background-color: #e6e5e5;
    display: inline-block;
}
p{
    /*margin: 30px;*/
}