*{
    margin: 0;
}

/*------------------------------------HEADER-------------------------------------*/
.header{
    padding: 30px;
    margin-bottom: 30px;
    height: 50vh;
    background-color: #1272c5;
    color: #e6e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;

}
/*-----------------------------------SECTION--------------------------------------*/
.container {
    height: 100vh;
    background-color: white;
    color: #e6e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    gap: 70px;

}
.sec{
    height: 1200px;
    width: 700px;
    background-color: #164578;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 45px;
}
.sec2{
    height: 1200px;
    width: 700px;
    background-color: #164578;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 45px;
}
.sec3{
    height: 1200px;
    width: 700px;
    background-color: #164578;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 45px;
}
/*-------------------------------------MAIN----------------------------------------*/
.main{
    margin-top: 30px;
    height: 100vh;
    background-color: #1272c5;
    color: #e6e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;

}

