/*.cookie-regular {*/
/*    font-family: "Cookie", serif;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/
body{
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    margin: 150px auto 0 auto;

    width: 700px;
    /*border: 1px solid grey;*/

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.main>h2{
    text-align: center;

    font-size: 100px;
    font-family: "Cookie", serif;
    font-weight: 500;
    font-style: normal;
}
.main{
    margin-top: 100px;
    width: 600px;
    height: 700px;
    border: 4px double rgba(188, 188, 188, 0.15);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;



}
input[type="text"],
input[type="password"]{
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    width: 450px;
    height: 60px;
    border: 4px double rgba(188, 188, 188, 0.15);
}
input[type="submit"]{
    margin: 15px;
    width: 450px;
    height: 50px;
    background-color: #6eb0e6;
    color: white;
    font-size: 23px;


    border: none;
    border-radius: 10px;
}
form{
    display: flex;
    align-items: center;

    flex-direction: column;
}

h5{
    margin: 15px 0 40px 0;
    color: grey;
    font-size: 20px;
}
.main>form>a{

    margin: 25px;
    font-size: 24px;
    color: darkblue;
}
svg{
    margin-bottom: -5px;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 600px;
    height: 100px;
    border: 4px solid rgba(188, 188, 188, 0.15);

    font-size: 26px;
    font-weight: 550;
}
.footer>p>a{
    color: #2698f4;
}