@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1E1E1E;
}
.w-1340{
    width: 1340px;
    margin: 0 auto;
}
nav{

    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 59px;
}
ul, a{
    color: #E9E3DC;
    font-family: "Bowlby One", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    text-decoration: none;
}

.nav__active-link{
    padding: 21px 26px 22px 27px;
    display: flex;
    align-content: center;
    justify-content: center;

    width: 203px;
    height: 60px;

    background-color:  #B3A0CD;
    color: #1E1E1E;
}

.header{
    width: 1255px;

    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One", serif;
    font-size: 107px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
    margin: 74px auto 33px auto;
}

.header-img{
    display: block;
    margin: auto;
}

section{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1340px;
    height: 369px;

    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
}


.right h3{

    width: 533px;
    color: #1E1E1E;
    font-family: "Bowlby One", serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
}
p{

    width: 521px;
    height: 75px;

    color: #1E1E1E;
    font-family: Inter, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
}
.a-container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 176px;
    height: 60px;

    border: 4px solid #1E1E1E;
    background: #E9E3DC;

    /* DropShadow */
    box-shadow: 8px 8px 0 0 #000;

    color: #1E1E1E;
    font-family: "Bowlby One", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.img-main{
    display: flex;
    margin: 64px 0 64px 0;
    gap: 40px;

    border-radius: 30px;
}
.img-cafe{
    border-radius: 30px;
    border: 4px solid #D9D9D9;
}
h2{
    margin: 64px auto 0 auto;
    width: 895px;
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One", serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
}

.down-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:33px auto 36px auto ;

    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;

    width: 196px;
    height: 60px;
    background: #D1EF53;
}