*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: black;
}
.body-container{

    margin: 0 auto;
    width: 1440px;
    background-color: #e6e5e5;
}
/*-------------------------------------------HEADER--------------------------------*/
header{
    height: 86px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #EFF0F3;

    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);

    position: sticky;
    top: 0;
}

.header-logo{
    padding-left: 95px;

    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
}
.header-logo>div:nth-child(1){
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.header-logo>div:nth-child(2){
    width: 48px;
    height: 27px;

    color: #6246EA;
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 18px;
    font-weight: 700;
}

nav>ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
nav>ul>li>a{

    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;

    color: #2B2C34;
}
header>nav>ul>li:nth-last-child(1){
    margin-right: 95px;

    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;

    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 4px;
    background:#6246EA;
}
nav ul svg{
    margin-right: 10px;
}
/*----------------------------SECTION----------------------------------------*/
section{
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 116px;

    background: #EFF0F3;
}
.section-container{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.section-container>h1{
    width: 617px;

    color: #2B2C34;

    /* 64 px - Heading 1 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
}
section>div>p{
    width: 652px;

    color: #9A9494;

    /* 20 px - Paragraph 1 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;

    border-left: 3px solid #2B2C34;
    padding-left: 12px;

}

.section-button{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.section-button>input{
    color: #C0C0C0;

    /* 20 px - Paragraph 1 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;

    border-radius: 8px;
    border: #FFFFFE;

    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
}
.section-button>button{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    border: none;
    background: #6246EA;

    color: #FFFFFE;

    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
section>div>img{
    display: flex;
    width: 470px;
    padding: 12.874px 18.074px 10.757px 17.649px;
    justify-content: center;
    align-items: center;
}
/*------------------------------------ASIDE----------------------------------------*/
aside{
    height: 500px;

    background: #EFF0F3;
}

.aside-name{
    display: flex;
    justify-content: space-between;

    padding: 67px 94px 0 94px;

}
.aside-name>h3{
    color: #2B2C34;

    /* 24 px - Sub heading 1 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.aside-name>a{
    color: #2B2C34;

    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.aside-name>a>svg {

    padding-top: 2px;
}

.aside-card{
    display: flex;
    gap: 37px;

    padding: 50px 96px 68px 96px ;
}

.card{
    width: 220px;
    height: 280px;

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-radius: 8px;

    background-color:#FFFFFE ;
    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.card:hover{
    background-color: #6246EA;

    color: #FFFFFE;
}


.card>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    margin: 65px auto 95px 30px;

}

.logo-border{
    display: flex;
    align-items: center;
    justify-content: center;


    width: 60px;
    height: 60px;

    border-radius: 7.458px;
    background: #FFFFFE;

}

.card>div>p{
    color: #2B2C34;

    /* 24 px - Sub heading 1 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.card:hover p{
    color: #FFFFFE;
}
/*----------------------------------MAIN----------------------------------*/

main{
    width: 1440px;
    /*height: 2400px;*/
    background: #FFFFFE;
    display: flex;

    gap: 80px;

    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;

}
.main-container{

    height: 490px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 30px;

    padding-top: 80px;
    padding-right: 94px;
    padding-left: 94px;

}
.main-card-box{
    display: flex;
    justify-content: space-evenly;
}
.main-name{
    display: flex;
    justify-content: space-between;

}

.main-name>h3{
    color: #2B2C34;

    /* 24 px - Sub heading 1 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.main-name>a{
    color: #2B2C34;

    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.main-name svg {
    padding-top: 2px;
}

.main-card{
    display: flex;
    width: 300px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;


    gap: 55px;

    border-radius: 12px;
    background: #FFFFFE;

    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);

}

.main-card h5{
    width: 260px;

    color: #2B2C34;

    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.card-gap{
    display: flex;

    flex-direction: column;
    align-items: flex-start;

    gap: 25px;
}

.ellipse{
    display: flex;

    gap: 15px;

    align-items: center;

    margin-top: auto;

}
.ellipse h6{
    color: #2B2C34;

    /* 16 px - Paragraph 3 Semi bold */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.ellipse p{
    width: 184px;
    height: 21px;

    color: #2B2C34;

    /* 14 px - Paragraph 4 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}

.main-card div div{
    display: flex;
    flex-direction: column;
}

main>button{

    margin: 50px auto 0 auto;



    display: flex;
    padding: 20px 23px 19px 23px;

    gap: 10px;

    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;


    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
/*-----------------------------------ASIDE_BOT-------------------------------*/

.aside-bot{
    height: 453px;
}
.aside-bot-container{
    padding: 58px 372px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background: #EFF0F3;
}

.aside-bot-logo{
    width: 130px;
    height: 130px;

    background: #FFFFFE;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}

.aside-bot-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-bot-text h2{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.aside-bot-text>p{
    /*width: 696px;*/

    color: #C0C0C0;
    text-align: center;

    /* 20 px - Paragraph 1 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 20px;
}

.aside-bot-button{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.aside-bot-button>input{
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    border: #FFFFFE;
}

.aside-bot-button>button{
    display: flex;
    height: 58px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    border: none;
    background: #6246EA;

    color: #FFFFFE;

    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
/*------------------------------------FOOTER-----------------------*/

footer{
    width: 1440px;
    height: 460px;


    background: #E4E5E9;
}
.footer-container{
    padding: 70px 96px;

    display: inline-flex;
    align-items: flex-start;
    gap: 160px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-style-logo{
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
}
.footer-style-logo>div:nth-child(1){
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.footer-style-logo>div:nth-child(2){
    width: 47px;
    height: 27px;

    color: #6246EA;
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.footer-logo>p{
    width: 284px;

    color: #2B2C34;

    /* 18 px - Paragraph 2 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-logo-bot{
    width: 190px;
    height: 30px;

    display: flex;
    align-items: center;

    gap: 30px;
}

.footer-contact{
    display: flex;
    align-items: flex-start;
    gap: 95px;
}
.footer-contact>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-contact>div>a:nth-child(1){
    color: #2B2C34;
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    padding-bottom: 5px;
}

.footer-contact>div>a{
    color: #2B2C34;

    /* 18 px - Paragraph 2 */
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 18px;
}
footer hr{
    margin: 0 auto;

    width: 1250px;
    height: 1px;

    background: #C0C0C0;
}
footer>p{
    /*width: 137px;*/
    /*height: 18px;*/

    color: #2B2C34;
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 14px;

    padding: 26px 0 26px 95px;
}