*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: black;
}
.body-container{

    margin: 0 auto;
    width: 1440px;
    background-color: #e6e5e5;
}
/*-------------------------------------------HEADER--------------------------------*/
header{
    height: 86px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #EFF0F3;

    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);

    position: sticky;
    top: 0;
}

.header-logo{
    margin-left: 95px;

    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
}
.header-logo>div:nth-child(1){
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.header-logo>div:nth-child(2){
    width: 48px;
    height: 27px;

    color: #6246EA;
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav>ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
nav>ul>li>a{

    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;

    color: #2B2C34;
}
header>nav>ul>li:nth-last-child(1){
    margin-right: 95px;

    color: #FFFFFE;
    font-family: "Plus Jakarta Sans",sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;

    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;


    border-radius: 4px;
    background:#6246EA;
}
svg{
    margin-right: 10px;
}