*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 5vh;
    background-color: #D9D9D9;
}
main{
    display: flex;
    height: 84vh;
}

section{
    height: 84vh;
}

.right{
    width: 26vw;
    background-color: #A4A4A4;
}
.left{
    width: 27.5vw;
    background-color: #C1C1C1;
}
.aside{

}

.top{
    height: 42vh;
    width: 53.5vw;
    background-color: #7F7A7A;
}
.down{
    height: 42vh;
    width: 53.5vw;
    background-color: #6B6161;
}

footer{
    height: 11vh;
    background-color: #D9D9D9;
}