*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    height: 24.5vh;
    background-color: #D9D9D9;
}
main{
    display: flex;
    height: 51vh;
}

aside{
    width: 29vw;
    height: 51vh;
    background-color: #C0BDBD;
}
section{

    width: 42vw;
    height: 51vh;
    background-color: #A4A4A4;
}