body{
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMThiYXRjaDcta2F0aWUtNTEuanBn.jpg");
    background-size: cover;
    background-attachment: fixed;
}

img{
    margin-left: 30px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
h1, h2{
    color: #f1eded;
    width: 30%;
    background-color: #8a8787;
    margin-left: 30px;
}
p{
    background-color: #8c8c8c;
    width: 30%;
    margin-left: 30px;
}
