*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #c8c4c4;
}
    h1{
        padding: 50px 0;
        text-align: center;
    }

.container{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;

}
.icon{
    width: 350px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.icon p{
    font-size: 25px;
    font-weight: 600;
}

.icon img{
    width: 60%;
}