body{
    height: 100vh;
    margin: 0;
    background-color: #47a3a6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.registration-form{
    height:50vh;
    width: 45vw;
    border: 1px solid;
    background-color: white;
    border-radius: 20px;
}
.registration-form>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(89, 191, 191, 0.35);
    height: 25%;
}
.registration-form>div:nth-child(1)>h3{
    font-size: 26px;
    font-weight: 400;
}
.registration-form>form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}
input[type="text"],
input[type="password"]{
    width: 350px;
    margin: 15px;
    height: 30px;
}
.registration-form>form>div{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}
input[type="submit"]{
    background-color: rgba(89, 191, 191, 0.35);
    border-radius: 10px;
    border: 1px solid grey;
    width: 80px;
    height: 25px;
}