*{
    margin: 0; padding: 0;
}
body{
    height: 100vh;
    background-color: darkgray;

}
.container{
    height: 50%;
    background-color: #dabaaa;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}
.square{
    background-color: #e10808;
    width: 100px;
    height: 100px;
    border: 4px solid #670606;
}
.square:hover{
    background-color: #8a8787;
    border-radius: 50%;
    border: 2px double #670606;
    transition: 1.5s;
}