.first-block>ul>li:nth-child(n) {
    color: pink;
}
.second-block>ul>li:nth-child(odd){
    font-size: 22px;
}
.third-block>ul>li:nth-child(2n+4)::after{
    content: "!";
}
.fourth-block>ul>li:last-child{
    color: purple;
}
.fifth-block>ul>li:first-letter{
    font-size: 30px;
    color: red;
}