*{
    margin: 0;
}
body{
    height: 100vh;
}

.osn{
    display: flex;
    align-content: center;
    justify-content: space-around;
    gap: 20px;

}

.square{
    width: 300px;
    height: 300px;
    font-size: 25px;
    background-color: #f1c8a9;
    display: flex;
    align-items: center;
    justify-content: center;



}
.rubic{
    font-family: "Rubik Pixels", serif;
    font-weight: 400;
    font-style: normal;
}
.Sedgwick{
    font-family: "Sedgwick Ave Display", serif;
    font-weight: 400;
    font-style: normal;
}
.Dancing{
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.Fjalla{
    font-family: "Fjalla One", serif;
    font-weight: 400;
    font-style: normal;
}
.Flower{
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
}